<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Art By Timylo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--To have a favicon favicon.io -->
    <link rel="icon" type="image/png" href="css/assets/Sessions logo.PNG">
    <script src="https://kit.fontawesome.com/5db21ba9c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DessineMoi.styles.css" asp-append-version="true" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top py-3" id="mainNav">
        <div class="container-fluid px-4 px-lg-5">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Art By Timylo</a>
            <button class="navbar-toggler navbar-toggler-right" id="navBarCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")#about-me">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")#gallery">Featured</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <footer>
        <div class="ms-4 me-4">
            <div class="row gx-4 gx-lg-5 justify-content-center pb-2">
                <!--TM-->
                <div class="col order-md-first text-light d-flex align-items-center justify-content-start">
                    <div>
                        <span class="text-muted">&copy;2024 CJBowman@live.com</span>
                    </div>
                </div>
                <!--Logo
                <div class="col d-flex align-items-center justify-content-start justify-content-md-center text-light">
                    <img src="css/assets/Sessions logo.PNG" alt="filler logo" height="24">
                </div>-->
                <!--Icons-->
                <div class="col d-flex align-items-center justify-content-end justify-content-md-end">
                    <div class="row">
                        <div class="social col">
                            <a class="btn btn-dark m-2" href="https://www.instagram.com/dessine.moi.un.loulou?igsh=dGFvZjRoM3ZoajZ2"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="social col">
                            <a class="btn btn-dark m-2" href="https://www.etsy.com/shop/DessineMoiUnLoulou"><i class="fab fa-etsy"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="~/js/site.js"></script>

    <!-- Core theme JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        window.SnipcartSettings = {
            publicApiKey: 'MWY0NmE2NTctMjNmZC00NDYyLWJkOTgtOGJiZjlhM2NlOGViNjM4NDkxNDIzNjcxNjQ0NTA1',
            currency: "eur",
            modalStyle: "side",
        };

        (() => { var c, d; (d = (c = window.SnipcartSettings).version) != null || (c.version = "3.0"); var s, S; (S = (s = window.SnipcartSettings).timeoutDuration) != null || (s.timeoutDuration = 2750); var l, p; (p = (l = window.SnipcartSettings).domain) != null || (l.domain = "cdn.snipcart.com"); var w, u; (u = (w = window.SnipcartSettings).protocol) != null || (w.protocol = "https"); var f = window.SnipcartSettings.version.includes("v3.0.0-ci") || window.SnipcartSettings.version != "3.0" && window.SnipcartSettings.version.localeCompare("3.4.0", void 0, { numeric: !0, sensitivity: "base" }) === -1, m = ["focus", "mouseover", "touchmove", "scroll", "keydown"]; window.LoadSnipcart = o; document.readyState === "loading" ? document.addEventListener("DOMContentLoaded", r) : r(); function r() { window.SnipcartSettings.loadStrategy ? window.SnipcartSettings.loadStrategy === "on-user-interaction" && (m.forEach(t => document.addEventListener(t, o)), setTimeout(o, window.SnipcartSettings.timeoutDuration)) : o() } var a = !1; function o() { if (a) return; a = !0; let t = document.getElementsByTagName("head")[0], e = document.querySelector("#snipcart"), i = document.querySelector(`src[src^="${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}"][src$="snipcart.js"]`), n = document.querySelector(`link[href^="${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}"][href$="snipcart.css"]`); e || (e = document.createElement("div"), e.id = "snipcart", e.setAttribute("hidden", "true"), document.body.appendChild(e)), v(e), i || (i = document.createElement("script"), i.src = `${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}/themes/v${window.SnipcartSettings.version}/default/snipcart.js`, i.async = !0, t.appendChild(i)), n || (n = document.createElement("link"), n.rel = "stylesheet", n.type = "text/css", n.href = `${window.SnipcartSettings.protocol}://${window.SnipcartSettings.domain}/themes/v${window.SnipcartSettings.version}/default/snipcart.css`, t.prepend(n)), m.forEach(g => document.removeEventListener(g, o)) } function v(t) { !f || (t.dataset.apiKey = window.SnipcartSettings.publicApiKey, window.SnipcartSettings.addProductBehavior && (t.dataset.configAddProductBehavior = window.SnipcartSettings.addProductBehavior), window.SnipcartSettings.modalStyle && (t.dataset.configModalStyle = window.SnipcartSettings.modalStyle), window.SnipcartSettings.currency && (t.dataset.currency = window.SnipcartSettings.currency), window.SnipcartSettings.templatesUrl && (t.dataset.templatesUrl = window.SnipcartSettings.templatesUrl)) } })();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
